{% extends 'base_tech.html' %}

{% block content %}
<div class="col-12 mt-2">
    <div class="row">
        <div class="px-4 py-5">
            <h2 class="pb-2 border-bottom">Automação</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col">

                    <h3 class="fs-2">O que é?</h3>
                    <p>
                        A automação é o uso de tecnologia para realizar tarefas que normalmente exigiriam intervenção humana. Isso pode incluir tudo, desde sistemas simples, como termostatos programáveis, até sistemas complexos, como robôs industriais. A automação está se tornando cada vez mais prevalente em muitos setores, incluindo manufatura, saúde e transporte.
                    </p>
                    <a href="https://www.dakol.com.br/o-que-e-automacao-industrial/" class="icon-link">Saiba mais</a>
                </div>
                    <div class="col">
                        
                        <h3 class="fs-2">Curiosidade</h3>
                        <p>
                            A automação não se limita apenas a fábricas e produção? Ela também está presente em nossas casas, nos sistemas de irrigação automática, nos aspiradores de pó robóticos e até mesmo em nossos carros!

                        </p>
                        
                

            </div>
        </div>
    </div>
</div>
{% endblock %}