<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% extends 'base_materia.html' %}

{% block content %}
<div class="col-12 mt-2">
    <div class="row">
        <div class="px-4 py-5">
            <h2 class="pb-2 border-bottom">Ciências da natureza</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="mb-3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CONN4Y9e6rc?si=YIqvYWVyhi3iDnHW"
                         title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                          gyroscope; picture-in-picture; web-share" allowfullscreen>
                        </iframe>
                    </div>
                    <h3 class="fs-2">Produção de sabão.</h3>
                    <p>Nesta aula de Química, ministrada pela professora Aline, produzimos sabão em um dos laboratórios do Senac.
                    </p>
               

            </div>
        </div>
    </div>
</div>
{% endblock %}