{% extends 'base_tech.html' %}

{% block content %}
<div class="col-12 mt-2">
    <div class="row">
        <div class="px-4 py-5">
            <h2 class="pb-2 border-bottom">Inteligência Artificial</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col">
                   
                    <h3 class="fs-2">O que é?</h3>
                    <p>
                        A inteligência artificial (IA) é a simulação de inteligência humana por máquinas. Isso pode incluir aprendizado (a aquisição de informações e regras para usar as informações), raciocínio (usando regras para chegar a conclusões aproximadas ou definitivas) e autocorreção.                    </p>
                    <a href="https://www.oracle.com/br/artificial-intelligence/what-is-ai/" class="icon-link">Saiba mais</a>
                </div>
                    <div class="col">
                        
                        <h3 class="fs-2">Curiosidade</h3>
                        <p>
                            A IA está em todo lugar hoje em dia! Desde os assistentes virtuais em nossos telefones até os algoritmos que recomendam músicas e filmes baseados em nossos gostos.
                        </p>
                        
                

            </div>
        </div>
    </div>
</div>
{% endblock %}