{% extends 'base_materia.html' %}

{% block content %}
<div class="col-12 mt-2">
    <div class="row">
        <div class="px-4 py-5">
            <h2 class="pb-2 border-bottom">Linguagens</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="mb-3">
                        <img src="{{ url_for('static', filename='image/ebook.png') }}" height="400" width="300">
                    </div>
                    <h3 class="fs-2">Produção de minicontos.</h3>
                    <p> Neste trabalho de Português, produzimos um livro completo com diversos minicontos abordando diferentes temas.
                    </p>
               
            </div>
        </div>
    </div>
</div>
{% endblock %}