{% extends 'base_tech.html' %}


{% block content %}
<div class="col-12 mt-2">
    <div class="row">
        <div class="px-4 py-5">
            <h2 class="pb-2 border-bottom">Machine Learning</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col">
                   
                    <h3 class="fs-2">O que é?</h3>
                    <p>
                        O aprendizado de máquina é um tipo de inteligência artificial que permite que um sistema aprenda e melhore a partir de experiências sem ser explicitamente programado. O aprendizado de máquina se concentra no desenvolvimento de programas de computador que podem acessar dados e usá-los para aprender por si mesmos.                    </p>
                    <a href="https://tecnoblog.net/responde/machine-learning-ia-o-que-e/" class="icon-link">Saiba mais</a>
                </div>
                    <div class="col">
                        
                        <h3 class="fs-2">Curiosidade</h3>
                        <p>
                            O aprendizado de máquina é a razão pela qual muitos serviços online são capazes de melhorar e personalizar a experiência do usuário. Por exemplo, serviços de streaming de música e vídeo usam o aprendizado de máquina para analisar seus hábitos de escuta ou visualização e sugerir novas músicas ou filmes.
                        </p>
                        
                

            </div>
        </div>
    </div>
</div>
{% endblock %}