{% extends 'base_materia.html' %}

{% block content %}
<div class="col-12 mt-2">
    <div class="row">
        <div class="px-4 py-5">
            <h2 class="pb-2 border-bottom">Curso em destaque</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="mb-3">
                        <img src="{{ url_for('static', filename='image/pdf.png') }}" height="500" width="800">
                    </div>
                    <h3 class="fs-2">Alimentacao no Senac</h3>
                    <p> Neste trabalho de matematica nos fizemos uma pesquisa de campo sobre a opiniao dos alunos em relacao a qualidade e valor dos alimentos do Senac.

                    </p>
                    <a href="a" class="icon-link">Saiba mais</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}