{% extends 'base_tech.html' %}

{% block content %}
<div class="col-12 mt-2">
    <div class="row">
        <div class="px-4 py-5">
            <h2 class="pb-2 border-bottom">Metaverso</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col">
                    
                    <h3 class="fs-2">O que é?</h3>
                    <p>
                        O metaverso é uma visão para um futuro espaço compartilhado online, criado pela convergência de virtualmente realidade física aumentada e virtualmente realidade física, onde os usuários podem interagir com um ambiente gerado por computador e outros usuários.
                    </p>
                    <a href="https://www.infomoney.com.br/guias/metaverso/" class="icon-link">Saiba mais</a>
                </div>
                    <div class="col">
                        
                        <h3 class="fs-2">Curiosidade</h3>
                        <p>
                            O termo “metaverso” é uma combinação das palavras “meta-”, que significa além, e “universo”. O conceito é frequentemente associado à ficção científica, mas com o avanço da tecnologia, está se tornando cada vez mais uma realidade.
                        </p>
                        
                

            </div>
        </div>
    </div>
</div>
{% endblock %}