{% extends 'base_tech.html' %}

{% block content %}
<div class="col-12 mt-2">
    <div class="row">
        <div class="px-4 py-5">
            <h2 class="pb-2 border-bottom">Realidade Aumentada</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col">
                    
                    <h3 class="fs-2">O que é?</h3>
                    <p>
                        A realidade aumentada (AR) é uma tecnologia que superpõe informações digitais, como imagens e vídeos, ao mundo real. A AR está sendo usada em uma variedade de campos, desde jogos e entretenimento até medicina e educação.                    </p>
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwizkM6M4--CAxWVrpUCHVl6BTMQFnoECBUQAw&url=https%3A%2F%2Fwww.iberdrola.com%2Finovacao%2Fo-que-e-realidade-aumentada&usg=AOvVaw3N-QJaxDn71uyjh3gtV_vr&opi=89978449" class="icon-link">Saiba mais</a>
                </div>
                    <div class="col">
                        
                        <h3 class="fs-2">Curiosidade</h3>
                        <p>
                            Um dos primeiros usos populares da AR foi no jogo para smartphone Pokémon Go, onde os jogadores podiam encontrar e capturar Pokémon virtuais superpostos ao mundo real em seus telefones.                        </p>
                        
                

            </div>
        </div>
    </div>
</div>
{% endblock %}